<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <LayoutSnippet> -->
<h1>LandingPage</h1>
{{ resolvedSubscription.id }}
<br \>
{{ resolvedSubscription.subscriptionName }}
<!-- </LayoutSnippet> -->
